.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--secondary-color);
  color: white;
  position: relative
}
h1{
  position:fixed;
  background-color: #1a1849;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  height: 100px;
  padding-top: 50px;
  
}